@using HiddenVilla_Server.Model

<div class="bg-light border p-2">
                    <h5 class="text-secondary">Room - @Room.Id</h5> <br />
                    @*kdyz chci pouzit onchange je treba predat changeEventArgs v parametru*@
                    <input type="checkbox" @onchange="RoomCheckBoxSelectionChanged" />
                    @Room.RoomName <br />
                    @Room.Price.ToString("c") <br />
                    <input type="checkbox" @bind="Room.IsActive" name="IsActive">
                    <label for="IsActive">Is Active</label> <br />
                    <span>This room is @(Room.IsActive ? "Active" : "Inactive")</span> <br />

                    @if (Room.IsActive)
                    {
                        @foreach (var roomProperty in Room.RoomProperties)
                        {
                            <p>@roomProperty.Name - @roomProperty.Value</p>
                        }
                    }
                    @*Zde pridavam komponent z imports.razor*@
                    <EditDeleteButton IsAdmin="true"></EditDeleteButton>
</div>

@code 
{
    [Parameter]
    public BlazorRoom Room { get; set; }
    [Parameter]
    public EventCallback<bool> OnRoomCheckBoxSelection { get; set; }

    //metoda ocekava zmeny v parent metode v Demohotel.razor - RoomSelectionCounterChanged - 
    //jako eventargs obdrzi to co parent metoda odesle
    protected async Task RoomCheckBoxSelectionChanged(ChangeEventArgs e)
    {
        await OnRoomCheckBoxSelection.InvokeAsync((bool)e.Value);
    }
}
